* {
  margin: 0;
  padding: 0;
}

.body {
  min-height: 100vh;
  background-size: 100vw 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/bg.jpg) no-repeat center;
}

#board {
  background: linear-gradient(rgb(187, 255, 187), rgb(255, 255, 134));
  width: 90vmin;
  height: 92vmin;
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(18, 1fr);
  border: 3px solid black;
  box-shadow: 3px 3px 25px rgb(40, 40, 40);
}

.head {
  background-color: blue;
}

.snake {
  background-color: black;
}

.food {
  background-color: red;
}
